body {
    text-align: center;
     margin: 0 auto;
}

table{
text-align: center;
     margin:  auto;
     border-collapse:  collapse;  
}
th,td {
    border: solid 1px;              /* 枠線指定 */
}

